<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section 
			name="CoreAppSettings" 
			type="AppConfigWithSections.CoreAppSettings, AppConfigWithSections" />
		<section 
			name="SQLiteSettings" 
			type="AppConfigWithSections.SQLiteSettings,AppConfigWithSections" />
		<section
			name="SQLServerSettings"
			type="AppConfigWithSections.SQLServerSettings,AppConfigWithSections" />

	</configSections>
	
	<CoreAppSettings dbtype="SQLSERVER" />
	<SQLiteSettings folder="e:\\data" db="blogging.db" />
	<SQLServerSettings server="(localdb)\\mssqllocaldb" db="TEST" />

	
</configuration>