<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DB Type" value="SQLSERVER"/>
		<add key="SQLITE3 Folder" value="e:\\data"/>
		<add key="SQLLIT3 DB" value="blogging.sb"/>
		<add key="SQL Server" value="(localdb)\\mssqllocaldb"/>
		<add key="SQL Server DB" value="TEST"/>
		<add key="SQL Server Trusted Connection?" value="true"/>
	</appSettings>
</configuration>