<log4net>

	<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
		<layout type="log4net.Layout.PatternLayout" value="%date %-5level [%thread]- %message %newline" />
		<mapping>
		<level value="WARN" />
		<foreColor value="Yellow" />
		</mapping>
		<mapping>
			<level value="CRITICAL" />
			<foreColor value="Red" />
		</mapping>
	</appender>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="ColoredConsoleAppender" />
	</root>
</log4net>
