<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
	<section 
	name="catLady" 
	type="ACrazyCatsExample.CatLadyConfigurationSection, 
	ACrazyCatsExample"/>
	<section
	name="cats"
	type="ACrazyCatsExample.CatConfigurationCollection, 
	ACrazyCatsExample"/>
	</configSections>
	
	<catLady name="SamIAm">
		<cats>
			<cat name="Smokey"/>
			<cat name="Garfield" color="Tabby"/>
			<cat name="Furby" age="3"/>
			<cat name="Vanilla" age="5" color="White"/>
		</cats>
	</catLady>

</configuration>