<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BasicDBType" value="SQLServer" />
	</appSettings>
	<connectionStrings>
		<add name="SQLLite"   connectionString="e:\data\blogging.db"/>
		<add name="SQLServer" connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=TEST;Integrated Security=True;"/>
	</connectionStrings>
</configuration>